<div ng-include="'logout.html'"/>
<h1 ng-controller="homepageController">Welcome, {{username}}</h1>

<br>
<a href="#project" class="btn btn-default projects-btn">Projects</a>
<a href="#task" class="btn btn-default tasks-btn">Tasks</a>
<br>
<br>
<br>

<div class="task-widget" ng-controller="widgetController as wc">
    <h2>Tasks in progress:</h2>
    <ul>
        <li class="project-task-item" ng-repeat="task in wc.allTasks | filter: {status: 'inProgress'}"><a href="#task">{{task.title}}</a></li>
    </ul>
</div>

<div class="task-widget" ng-controller="widgetController as wc">
    <h2>To do tasks:</h2>
    <ul>
        <li class="project-task-item" ng-repeat="task in wc.allTasks | filter: {status: 'todo'}"><a href="#task">{{task.title}}</a></li>
    </ul>
</div>

