<div ng-include="'logout.html'"/>
<a href="#/" class="btn btn-default">Home</a>

<div class="projects" ng-controller="projectController as pc">
    <h1 ng-show={{!pc.isAdmin}}>My projects:</h1>
    <h1 ng-show={{pc.isAdmin}}>All projects:</h1>    
    
    <div>
        <ul>
            <!--if regular user-->
            <li class="project-task-item" ng-if="!pc.isAdmin" ng-repeat="proj in pc.filteredProjs(pc.allProjects)" ng-click="pc.setSelected(proj.name); pc.showDetails(proj.name); pc.showNewForm = true;"
                ng-class="{myselected: proj.name === pc.idSelectedItem}">{{proj.name}}
            </li>
            <!--if admin-->
            <li class="project-task-item" ng-if="pc.isAdmin" ng-repeat="proj in pc.allProjects" ng-click="pc.setSelected(proj.name); pc.showDetails(proj.name); pc.showNewForm = true;"
                ng-class="{myselected: proj.name === pc.idSelectedItem}">{{proj.name}}
            </li>
        </ul>
    </div>

    <br>
    <br>

    <!-- edit project form -->
    <form name="project-task-details" ng-show="pc.showNewForm">
        <h2>Project details:</h2>
        <label>Name:</label> <input ng-disabled="{{!pc.isAdmin}}" type="text" ng-model="pc.selectedProjectNew.name">
        <div><label>Assigned members:</label></div>
        <ul>
            <li ng-repeat="member in pc.selectedProject.assigned_members">{{member}}
                <a ng-show="{{pc.isAdmin}}" ng-click="pc.removeFromList(pc.selectedProject.assigned_members, member)">Remove</a>
            </li>
        </ul>
        <br>
        <div ng-show="{{pc.isAdmin}}">
            <label>Add user:</label> <input type="text" ng-model="pc.userToAdd"
                             typeahead="user.username as (user.username) for user in pc.allUsers | filter:{'username': $viewValue}">
            <input type="button" class="btn btn-default" value="Add" ng-click="pc.addUser(pc.selectedProject.assigned_members, pc.userToAdd)">
        </div>
        <br>

        <!--</div>-->
        <br>
        <input type="button" class="btn btn-default" ng-show="pc.isAdmin" value="Save" ng-click="pc.editClick()">
        <input type="button" class="btn btn-default" value="Cancel" ng-click="pc.showNewForm = false;">
        <input type="button" name="delete-project-task" class="btn btn-default" ng-show="pc.isAdmin" value="Delete project" ng-click="pc.confirmDeletion()">

        <!-- tasks on selected project -->
        <div ng-if="pc.selectedProject != 'undefined'">
            <h2>Tasks on the project:</h2>
            <ul>
                <li class="project-task-item" ng-repeat="task in pc.allTasks | filter: {project: pc.selectedProject._id}">
                    <a href="#task">{{task.title}} <p style="font-size: 10pt; color: grey;">(assigned to {{task.target}})</p></a>
                </li>
            </ul>
        </div>
    </form>
    
    
    <div name="create-project" ng-show={{pc.isAdmin}}>
        <h2>Create new project</h2>
        <form class="form" ng-submit="pc.createProject()">
            <div class="form-group">
                <label>Project name:</label>
                <input type="text" class="form-control" name="project_name" ng-model="pc.project.name" required>
                <button id="create-project-btn" type="submit" ng-show={{pc.isAdmin}} class="btn btn-default">Create</button>
            </div>
            <div ng-model="status" ng-show="pc.showMessage">{{pc.status}}</div>
        </form>
    </div>
</div>

<br>
<br>
<!--<div ng-include="'task.html'"></div>-->

<br>
<br>
<br>