<div ng-include="'logout.html'"/>
<a href="#/index" class="btn btn-default">Home</a>

<div class="tasks" ng-controller="taskController as tc">
    <!--{{tc.selectedId}} -->
    <h1 ng-show={{!tc.isAdmin}}>Tasks on my projects:</h1>
    <h1 ng-show={{tc.isAdmin}}>All tasks:</h1>

    <!--for admin-->
    <ul ng-if="tc.isAdmin">
        <li class="project-task-item" ng-repeat="task in tc.allTasks" ng-click="tc.showNewForm = true; tc.setSelected(task._id); tc.showDetails(task._id); tc.idToObjProj(tc.task.project); tc.filterUsers();" ng-class="{myselected: task._id === tc.idSelectedItem}">{{task.title}}</li>
    </ul>
    <!--for regular-->
    <ul ng-if="!tc.isAdmin">
        <li class="project-task-item" ng-repeat="task in tc.filteredTasks(tc.allTasks)" ng-click="tc.showNewForm = true; tc.setSelected(task._id); tc.showDetails(task._id); tc.idToObjProj(tc.task.project); tc.filterUsers();" ng-class="{myselected: task._id === tc.idSelectedItem}">{{task.title}}</li>
    </ul>

    <br>
    <button type="button" value="Add new task" class="btn btn-default" ng-click="tc.newClick(); tc.showNewForm = true; tc.selectedId = 'undefined'; tc.clearProj();">Add new task</button>
    <br>
    <br>
    <!-- Create new/edit form-->
    <form name="project-task-details" id="taskForm" ng-show="tc.showNewForm">
        <h2>Task details:</h2>
        <label for="selectProject">Project:</label>
        <select ng-disabled="!tc.isAdmin && tc.selectedId != 'undefined'" ng-change="tc.idToObjProj(tc.task.project); tc.filterUsers();" ng-model="tc.task.project" id="selectProject">
            <option value="">-- Select project --</option>
            <option ng-repeat="project in tc.allProjects" value="{{project._id}}">{{project.name}}</option>
        </select>
        <br>
        <label for="taskTitle">Title:</label>
        <input type="text" ng-disabled="!tc.isAdmin && tc.selectedId != 'undefined'" id="taskTitle" ng-model="tc.task.title" required>
        <br>
        <label for="taskDescription">Description:</label> <br>
        <textarea ng-disabled="!tc.isAdmin && tc.selectedId != 'undefined'" id="taskDescription" cols="40" rows="5" ng-model="tc.task.description"></textarea>
        <br>
        <label for="selectPriority">Priority:</label>
        <select id="selectPriority" ng-model="tc.task.priority">
            <option value="">-- Select priority --</option>
            <option ng-repeat="priority in tc.allTaskPriorities" value="{{priority.key}}">{{priority.value}}</option>
        </select>
        <br>
        <br>
        <label for="taskStatus">Status:</label>
        <select id="taskStatus" ng-model="tc.task.status">
            <option value="">-- Select status --</option>
            <option ng-repeat="status in tc.allTaskStatuses" value="{{status.key}}">{{status.value}}</option>
        </select>
        <br>
        <label for="taskCreator">Created by:</label>
        <span id="taskCreator" ng-bind="tc.task.creator">asdf</span>
        <br>
        <label for="taskTarget">Assigned to:</label>
        <select id="taskTarget" ng-model="tc.task.target">
            <option value="">-- Unassigned --</option>
            <option ng-repeat="user in tc.allUsers2" value="{{user.username}}">{{user.username}}</option>
        </select>
        <br>
        <br>
        <br>
        <input type="button" class="btn btn-default" ng-hide="!tc.isAdmin && tc.selectedId != 'undefined'" value="{{tc.selectedId == 'undefined' ? 'Create' : 'Save changes'}}" ng-click="tc.selectedId == 'undefined' ? tc.createTask() : tc.editTask()">
        <input type="button" class="btn btn-default" ng-show="!tc.isAdmin && tc.selectedId != 'undefined'" value="Save changes" ng-click="tc.partlyEdit()">
        <button class="btn btn-default" ng-click="tc.showNewForm = false;">Cancel</button>
        <input type="button" name="delete-project-task" class="btn btn-default" ng-hide="!tc.isAdmin && tc.selectedId == 'undefined'" value="Delete task" ng-click="tc.confirmDeletion()">
        <br>
        <br>

        <div id="commentSection" ng-controller="commentController as cc" ng-show="tc.selectedId != 'undefined'">
            <h2>Comments:</h2>
            <ul>
                <li class="comment-body" ng-repeat="comment in cc.allComments | filter: {parent: tc.selectedId}">
                    <p class="comment-text">{{comment.text}}</p>
                    <p class="comment-author-date">by <strong>{{comment.author}}</strong> at {{comment.date}}</p>
                </li>
            </ul>
            <br>
            <button class="btn btn-default" ng-click="tc.showCommentForm();">Add comment</button>
            <br>
            <div ng-show="tc.commentFormVisible" ng-include="'comment_form.html'"></div>
        </div>
         <!--{{tc.task}} -->
        {{tc.task.project}}
        {{tc.completeSelectedProject}}

    </form>
</div>